{% extends 'base.html' %}
{% block content %}

<h1>Racquet Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
    <span class="card-title">{{ racquet.name }}</span>
    <p>Brand: {{ racquet.brand }}</p>
    <p>Description: {{ racquet.description }}</p>
    <!-- {% if cat.age > 0 %}
      <p>Age: {{ cat.age }}</p>
    {% else %}
      <p>Age: Kitten</p>
    {% endif %} -->
  </div>

  <div class="card-action">
    <a href="{% url 'racquets_update' racquet.id %}">Edit</a>
    <a href="{% url 'racquets_delete' racquet.id %}">Delete</a>
  </div>

</div>

</div>
<div class="col s6">

  <form action="{% url 'add_restring' racquet.id %}"  method="POST">
    {% csrf_token %}
    {{ restring_form.as_p }}
    <input type="submit" class="btn" value="Add Restring">
  </form>

  <table class="striped">
    <thead>
      <tr><th>Date</th><th>Meal</th></tr>
    </thead>
    <tbody>
      {% for restring in racquet.restring_set.all %}
        <tr>
          <td>{{restring.date}}</td>
          <td>{{restring.get_string_display}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>

<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ racquet.name }}'s Racquets</h3>
    {% if racquet.users.count %}
      {% for user in racquet.users.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span >{{ user.name }}</span> {{ user.description }}
            </span>
          </div>
          
        </div>
      {% endfor %}
    {% else %}
      <h5>No Users 😔</h5>
    {% endif %}
  </div>
<!-- Available users will come after this line -->
  <div class="col s6">
    <h3>Available Users</h3>
    {% if users.count %}
      {% for user in users.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span >{{ user.name }}</span> {{ user.discription }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_user' racquet.id user.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{racquet.name}} Already Has All users Available</h5>
    {% endif %}
  </div>

<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  const selectEl = document.getElementById('id_string');
  M.FormSelect.init(selectEl);
</script>

{% endblock %}